@use './../../../styles/utils.module.scss' as utils;
@use '../../../styles/colors.module.scss' as colors;

.container {
    font-family: 'Roboto Mono';

    &--full-width {
        width: 100%;
    } 

    &--narrow {
        width: 70%;
    }

    &--border {
        border: utils.pxToRem(1) solid colors.$black;
    }
}