$black: black;
$purple: #7e00ff;
$dark-purple: #d1a9fa;
$gray: #808080;
$light-gray: #b0afaf;
$transparent: transparent;
$coral: #ff8370;
$dark-coral:#fe6c56;
$orange: #ff7700;

$primary-color: #dcbaff;
$secondary-color: $coral;
$disable: $gray;